@model DataAccess.Models.Persons

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="container">
    <div class="col-md-4">
        <form asp-action="Edit" method="post"> 
            @* <input  asp-for="PersonID" /> *@
            @Html.TextBoxFor(m => m.PersonID, new { @class = "form-control", @placeholder = "Enter the id" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter first name" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter last name" })
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Enter address" })
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "Enter city" })
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
